<% content_for :title, "Editing post" %>

<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="d-flex justify-content-between align-items-center mt-4">
  <div>
    <%= link_to "ðŸ“š Back to posts", posts_path, class: "btn btn-outline-secondary" %>
  </div>

  <%= button_to "ðŸ—‘ï¸ Destroy this post", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
</div>
