<% content_for :title, "Posts" %>

<div class="container mt-5">
  
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-black">Recent Posts</h2>
    <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
  </div>

  <div id="posts" class="row row-cols-1 g-4">
    <% @posts.each do |post| %>
      <%= render partial: "post", locals: { post: post } %>
    <% end %>
  </div>
</div>
