<h1>Hello <%= @receiver.email_address %>,</h1>

<p><%= @sender.email_address %> has sent you a friend request!</p>

<p>Log in to your account to accept or decline the request.</p>

<p>Thanks for using our platform!</p>
